@import "../../scss/variables";

.gallery {
  position: relative;
  height: 255px;
  border-radius: 10px;

  @media (min-width: $mb3) {
    height: 415px;
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__counter {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 500;
    bottom: 25px; 
    left: 50%; 
    transform: translateX(-50%);
    display: none;

    @media (min-width: $mb3) {
      display: block;
    }
  }
   

  &__button {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }

    @media (min-width: $mb3) {
      width: 80px;
      height: 80px;
    }
  }

  &__arrow {
    width: inherit;
    height: inherit;
  }
}
